<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel</title>

    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/editor.css">

    <script defer src="../js/editor.js" ></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt6PrdLoAGpNvHozhtuhrHyvQrmYfppMs&libraries=places&callback=initMap" async defer></script>

</head>
<body>
    <nav class="navbar">
        <img src="../img/logo.png" class="logo" alt="">
        <ul class="links-container">
            <li class="link-item"><a href="/" class="link">home</a></li>
        </ul>
    </nav>

    <form action="../../upload" method="post">

        <div class="banner">
            <input type="file" name="banner" accept="image/*" id="banner-upload" hidden>
            <textarea type="text" name="banner_path" id="banner_path" hidden></textarea> 
            <label for="banner-upload" class="banner-upload-btn"><img src="../img/upload.png" alt="upload banner"></label>
        </div>
        
        <div class="blog">
            <textarea type="text" name="title" class="title" placeholder="Title..."></textarea>
            <textarea type="text" name="author" class="author"  placeholder="Author"></textarea>

            <div class="select-country">
                Select Country:
                <select name="country" class="country">
                    <option value="Thailand">Thailand</option>
                    <option value="Indonesia" selected="selected">Indonesia</option>
                    <option value="Vietnam">Vietnam</option>
                    <option value="Cambodia">Cambodia</option>
                </select>
                
                <input id="searchInput" name="place" class="searchInput" type="text" placeholder="Enter place visited">      
                <div id="map"></div>
            </div>

            <div class="ratings">
                <div class="rate-trip">Rate your trip:</div> <br>
                Food: <input type="range" name="food_rating" class="food" min="1" max="10"> <br>
                Safety: <input type="range" name="saftey_rating" class="safety" min="1" max="10"> <br>
                Cost: <input type="range" name="cost_rating" class="cost" min="1" max="10"> <br>
                Accessibility: <input type="range" name="accessibility_rating" class="accessibility" min="1" max="10"> <br>
            </div>
            
            <textarea type="text" name="article" class="article" placeholder="Start writing here..."></textarea>
        </div>

        <div class="blog-options">
            <!-- <button class="btn dark publish-btn">publish</button> -->
            <input type="submit" class="btn dark publish-btn" value="publish">
            <input type="file" accept="image/*" class="image-upload" hidden>
            <label for="image-upload" class="btn grey upload-btn">Upload Image</label>
        </div>
    </form> 

    <footer class="footer">
    </footer>

</body>
</html>