<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css" />
    <title>Blog : Country Page</title>
</head>
<body>

    <nav class="navbar">
        <a href="/"><img src="../img/logo.png" class="logo" alt="" style></a>
        <ul class="links-container">
            <li class="link-item"><a href="/" class="link">home</a></li>
            <li class="link-item"><a href="/editor" class="link">Create a post</a></li>
        </ul>
    </nav>
    
</body>
</html>

