.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 40px;
}

/* .article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
} */

/* .author, .published{
    margin: 20px 0 60px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
} */

/* .author, .published span{
    font-weight: 700;
    font-style: normal;
} */

/* .article *{
    margin: 30px 0;
    color: #2d2d2d;
} */

.article-image{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

.sub-heading{
    padding: 0 5vw;
    color: #2d2d2d;
    font-weight: 500;
    font-size: 40px;
    margin-top: 80px;
}

.comments, #respond {
    width: 70vw;
    min-width: 400px;
    height: fit-content;
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-family: 'Lato', sans-serif;
    margin-bottom: auto;

    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    /* border-radius: 10px; */
    /* background-color:  rgb(241,241,241); */
    /* background-size: cover; */
}
 
hr {
    border-top: 1px blue
}

.single_comment {
    padding: 20px;
}

.comment_author {
    padding-bottom: 5px;
}

/* .likes_btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
} */

.likes_btn img{
    width: 20px;
}

#respond input[type='text'],
#respond input[type='email'],
#respond textarea {
   
    margin-bottom: 10px;
    display: block;
    width: 100%;

    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    line-height: 1.4em;
}



